@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.video-background:after {
  content: "";
  display: block;
  right: 0;
  height: 100vh;
  background-size: 4px 4px;
  background-position: 0 0, 2px 2px;
  background-image: radial-gradient(#999 30%, transparent 0),
    radial-gradient(#eee 10%, transparent 0);
}

@font-face {
  font-family: 'PPMedium';
  src: url('/fonts/PPMedium.woff2') format('woff2'),
       url('/fonts/PPMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'PPMedium', sans-serif;
  scroll-behavior: smooth; /* Add this line for smooth scrolling */
}
.text-34px {
  font-size: 34px;
}

.font-ppmedium {
  font-family: 'PPMedium', sans-serif;
}
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.video-background:after,
video {
  position: absolute;
  z-index: -10;
  top: 0;
  width: 100%;
  height: 100vh;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  --c-text-primary: #191919;
  --c-text-secondary: #737374;
  --c-border-primary: #ccc;
  --c-bg-body: #ccc;
  --c-bg-primary: #fff;
  --c-bg-secondary: #d4d8dd;
  --c-bg-button: #fff;
}

.light {
  --c-text-primary: #191919;
  --c-text-secondary: #737374;
  --c-bg-body: #ccc;
  --c-bg-primary: #fff;
  --c-bg-secondary: #d4d8dd;
  --c-bg-button: #000;
  --c-bg-border: rgba(0, 0, 0, 0.1);
}

.dark {
  --c-text-primary: #eee;
  --c-text-secondary: #d3d5db;
  --c-border-primary: #454545;
  --c-bg-primary: #323339;
  --c-bg-secondary: #222128;
  --c-bg-button: #fff;
  --c-bg-border: rgba(255, 255, 255, 0.3);
}

.theme-switcher {
  border: 1px solid var(--c-bg-border);
  border-radius: 30px;
  display: flex;
  padding: 0 3px;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.slider {
  display: block;
  position: absolute;
  z-index: 1;
  width: calc((100% - 6px) / 2);
  top: 3px;
  transform: translatex(-110%);
  bottom: 3px;
  border-radius: 30px;
  transition: 0.15s ease, transform 0.25s ease-out;
  background-color: var(--c-bg-button);
  box-shadow: var(--slider-shadow);
  cursor: pointer;
}

input {
  display: none;
}

input:nth-of-type(1):checked ~ .slider {
  transform: translateX(0);
}

input:nth-of-type(2):checked ~ .slider {
  transform: translateX(100%);
}

label {
  position: relative;
  z-index: 2;
  width: calc(100% / 2);
  color: var(--c-text-secondary);
  cursor: pointer;
}

label span {
  padding: 8px 0;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

label svg {
  display: inline-block;
  margin: 0 0.6rem;
  width: 20px;
  cursor: pointer;
}

.nav-items {
  padding: 10px 0;
}
.nav-items li {
  position: relative;
  padding: 8px 0;
}
.nav-items li::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1.4px;
  bottom: -10px;
  right: 0;
  background: var(--c-bg-button);
  transition: all ease-out 0.3s;
}
.nav-items li:hover::before {
  width: 100%;
  left: 0;
}